<ng-container *ngIf="isAdmin()">
  <button type="button" (click)="scrap()">SCRAP</button>

  <input type="text" [(ngModel)]="clientid" name="clientid">
  <input type="text" [(ngModel)]="clientsecret" name="clientsecret">
</ng-container>
<br>
<input type="date" [(ngModel)]="dateFrom" (ngModelChange)="dateChanged()">
<input type="date" [(ngModel)]="dateTo" (ngModelChange)="dateChanged()">

<ngx-charts-line-chart
  *ngIf="auctions?.length"
  [view]="[1000, 500]"
  [legend]="true"
  [xAxis]="true"
  [yAxis]="true"
  [timeline]="true"
  [results]="auctions"
  [yAxisTickFormatting]="yLeftTickFormat"
  >
</ngx-charts-line-chart>
