<div class="dragula-parent row">
  <div class="dragula-wrapper col-5">
    <div id="myList" class="dragula-container">

      <div class="input-group mb-3 item" [class.line-checked]="item.checked" *ngFor="let item of tab">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input id="input-' + item.label + '" type="checkbox" [(ngModel)]="item.checked">
          </div>
        </div>
        <label for="input-' + item.label + '">
          {{ item.label }}
          <i class="material-icons remove" (click)="removeLine(item)">delete</i>
        </label>
      </div>
    </div>
  </div>
  <div class="col-3">
    <input [(ngModel)]="add" class="form-control">
    <button type="submit" class="col-6 offset-sm-3 btn" (click)="addToList()">Add</button>
  </div>
  <div class="col-4 stats">
    <ul>
      <li>100% - Intact</li>
      <li>&gt;75% - Légèrement blessé</li>
      <li>&gt;50% - Blessé</li>
      <li>&lt;50% - Bien blessé</li>
      <li>&lt;25% - Grièvement blessé</li>
      <li>&lt;5-10% - Agonisant</li>
    </ul>
  </div>
</div>
