<table class="table table-hover">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Niveau</th>
      <th>École</th>
      <th>Incantation</th>
      <th>Concentration</th>
      <th>Rituel</th>
      <th>Description courte</th>
      <th>Source</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let spell of spells | async">
      <td>{{ spell.name }}</td>
      <td>{{ spell.level }}</td>
      <td>{{ spell.school }}</td>
      <td>{{ spell.casting_time }}</td>
      <td>{{ spell.concentration ? 'Oui' : 'Non' }}</td>
      <td>{{ spell.ritual ? 'Oui' : 'Non' }}</td>
      <td>{{ spell.description_short }}</td>
      <td>{{ spell.source }}</td>
      <td><a [routerLink]="'/dd-spells/' + spell.id">Détails</a></td>
    </tr>
  </tbody>
</table>




<!-- <div class="container">
  <div class="row" *ngFor="let spell of spells | async">
    <div class="col-md-12">
      <a [attr.href]="spell.link" target="_blank">{{ spell.name }}</a>
      <div class="description" [innerHtml]="spell.description"></div>
      <span class="badge badge-primary" *ngFor="let tag of spell.tags">{{ tag }}</span>
    </div>
  </div>
</div> -->

<hr>

<div *ngIf="user">
  <div class="form-group">
    <label for="name">Nom</label>
    <input type="text" class="form-control" id="name" placeholder="Nom" [(ngModel)]="spellForm.name">
  </div>
  <div class="form-group">
    <label for="description_short">Description courte</label>
    <textarea class="form-control" id="description_short" rows="3" placeholder="Description courte" [(ngModel)]="spellForm.description_short"></textarea>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" rows="3" placeholder="Description" [(ngModel)]="spellForm.description"></textarea>
  </div>
  <div class="form-group">
    <label for="higher_level">Niveaux supérieurs</label>
    <textarea class="form-control" id="higher_level" rows="3" placeholder="Lorsque vous lancez ce sort en utilisant un emplacement de sort de niveau ..." [(ngModel)]="spellForm.higher_level"></textarea>
  </div>
  <div class="form-group">
    <label for="range">Portée</label>
    <input type="text" class="form-control" id="range" placeholder="18 mètres" [(ngModel)]="spellForm.range">
  </div>
  <div class="form-group">
    <label for="components">Composantes</label>
    <input type="text" class="form-control" id="components" placeholder="V, S, M, un diamant" [(ngModel)]="spellForm.components">
  </div>
  <div class="form-group">
    <label for="ritual">Rituel</label>
    <input type="checkbox" class="form-control" id="ritual" [(ngModel)]="spellForm.ritual">
  </div>
  <div class="form-group">
    <label for="concentration">Concentration</label>
    <input type="checkbox" class="form-control" id="concentration" [(ngModel)]="spellForm.concentration">
  </div>
  <div class="form-group">
    <label for="duration">Durée</label>
    <input type="text" class="form-control" id="duration" placeholder="1 round" [(ngModel)]="spellForm.duration">
  </div>
  <div class="form-group">
    <label for="casting_time">Temps d'incantation</label>
    <input type="text" class="form-control" id="casting_time" placeholder="1 round" [(ngModel)]="spellForm.casting_time">
  </div>
  <div class="form-group">
    <label for="level">Niveau</label>
    <input type="number" class="form-control" id="level" min="1" max="9" placeholder="1" [(ngModel)]="spellForm.level">
  </div>
  <div class="form-group">
    <label for="school">École</label>
    <select id="school" class="form-control" [(ngModel)]="spellForm.school">
      <option value="Abjuration">Abjuration</option>
      <option value="Divination">Divination</option>
      <option value="Enchantement">Enchantement</option>
      <option value="Évocation">Évocation</option>
      <option value="Illusion">Illusion</option>
      <option value="Invocation">Invocation</option>
      <option value="Nécromancie">Nécromancie</option>
      <option value="Transmutation">Transmutation</option>
    </select>
  </div>
  <div class="form-group">
    <label for="classes">Classes</label>
    <select id="classes" class="form-control" multiple size="8" [(ngModel)]="spellForm.classes">
      <option value="Barde">Barde</option>
      <option value="Clerc">Clerc</option>
      <option value="Druide">Druide</option>
      <option value="Ensorceleur">Ensorceleur</option>
      <option value="Magicien">Magicien</option>
      <option value="Occultiste">Occultiste</option>
      <option value="Paladin">Paladin</option>
      <option value="Rôdeur">Rôdeur</option>
      <option value="Artificier">Artificier</option>
    </select>
  </div>

  <div class="form-group">
    <label for="source">Source</label>
    <select id="source" class="form-control" [(ngModel)]="spellForm.source">
			<option value="base">Player´s Handbook</option>
			<option value="xgte">Xanathar´s Guide to Everything</option>
			<option value="tcoe">Tasha´s Cauldron of Everything</option>
			<option value="ftod">Fizban´s Treasury of Dragons</option>
			<option value="custom">Custom</option>
    </select>
  </div>

  <button type="button" class="btn btn-primary" (click)="addSpell()">Enregistrer</button>
</div>
