<div class="container">
  <div class="card mt-3">
    <div class="card-body">
      Bienvenue dans un lointain futur !<br>
      <br>
      Vous êtes des agents d'une organisation secrète connue sous le nom des "Gardiens du Temps".<br>
      <br>
      Votre mission est de voyager dans le temps pour résoudre des mystères et empêcher des anomalies temporelles.<br>
      <br>
      Votre esprit sera séparé de votre corps, qui sera projeté dans un réceptacle adapté à l’époque que vous allez visiter.<br>
      <br>
      Vous devrez mener une enquête en explorant des lieux, en interagissant avec des personnages et en résolvant des énigmes.<br>
      <br>
      Vous n'aurez que 3h pour résoudre le scénario, au delà, vous serez automatiquement renvoyés à votre époque.<br>
      <br>
      Le destin du temps repose entre vos mains !<br>
    </div>
  </div>



  <!-- <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Attributs</h1>
  </div>

  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Force</th>
          <th scope="col">Dexterité</th>
          <th scope="col">Constitution</th>
          <th scope="col">Intelligence</th>
          <th scope="col">Sagesse</th>
          <th scope="col">Charisme</th>
        </tr>
      </thead>
      <tbody class="attributs">
      </tbody>
    </table>
  </div> -->

  <!-- <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Compétences</h1>
  </div>

  <div class="row">
    <table class="table table-skills">
      <thead>
        <tr>
          <th scope="col">#</th>

          <th scope="col">strength</th>
          <th scope="col">athletics</th>

          <th scope="col" class="border-left">dexterity</th>
          <th scope="col">acrobatics</th>
          <th scope="col">sleight_of_hand</th>
          <th scope="col">stealth</th>

          <th scope="col" class="border-left">constitution</th>

          <th scope="col" class="border-left">intelligence</th>
          <th scope="col">arcana</th>
          <th scope="col">history</th>
          <th scope="col">investigation</th>
          <th scope="col">nature</th>
          <th scope="col">religion</th>

          <th scope="col" class="border-left">wisdom</th>
          <th scope="col">animal_handling</th>
          <th scope="col">insight</th>
          <th scope="col">medicine</th>
          <th scope="col">perception</th>
          <th scope="col">survival</th>

          <th scope="col" class="border-left">charisma</th>
          <th scope="col">deception</th>
          <th scope="col">intimidation</th>
          <th scope="col">performance</th>
          <th scope="col">persuasion</th>
        </tr>
      </thead>
      <tbody class="skills">
      </tbody>
    </table>
  </div> -->

  <!-- <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Stats</h1>
  </div>

  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">PV</th>
          <th scope="col">CA</th>
        </tr>
      </thead>
      <tbody class="stats">
      </tbody>
    </table>
  </div> -->

</div>
