:host {
  height: 1500px;
  display: block;
}
:host ::ng-deep {
  .container {
    max-width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
  }
}

.card-body {
  .row {
    img {
      max-width: 100%;
      cursor: pointer;
    }
  }
}

.zoom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: black;
  img {
    width: auto;
    height: 100vh;
    cursor: pointer;
  }
}
