<div class="container">
  <div class="card mt-3">
    <div class="card-body">
      Bienvenue dans un lointain futur !<br>
      <br>
      Vous êtes des agents d'une organisation secrète connue sous le nom des "Gardiens du Temps".<br>
      <br>
      Votre mission est de voyager dans le temps pour résoudre des mystères et empêcher des anomalies temporelles.<br>
      <br>
      Votre esprit sera séparé de votre corps, qui sera projeté dans un réceptacle adapté à l’époque que vous allez visiter.<br>
      <br>
      Vous devrez mener une enquête en explorant des lieux, en interagissant avec des personnages et en résolvant des énigmes.<br>
      <br>
      Vous n'aurez que 3h pour résoudre le scénario, au delà, vous serez automatiquement renvoyés à votre époque.<br>
      <br>
      Le destin du temps repose entre vos mains !<br>
    </div>
  </div>

  <button class="btn btn-primary mt-3" (click)="showScenars.tarides = !showScenars.tarides">Scénar 1 : les tarides</button>
  <div class="card mt-3" [hidden]="!showScenars.tarides">
    <div class="card-body">
      Scénar 1 : les tarides<br>
      <br>

      <div class="row">
        <div class="col-3">
          <img src="assets/gardiens/Tauren Chasseur - stats.png" (click)="currentZoom = 'assets/gardiens/Tauren Chasseur - stats.png'">
        </div>
        <div class="col-3">
          <img src="assets/gardiens/Tauren Chasseur - img.png" (click)="currentZoom = 'assets/gardiens/Tauren Chasseur - img.png'">
        </div>
        <div class="col-3">
          <img src="assets/gardiens/Orc Shaman - img.png" (click)="currentZoom = 'assets/gardiens/Orc Shaman - img.png'">
        </div>
        <div class="col-3">
          <img src="assets/gardiens/Orc Shaman - stats.png" (click)="currentZoom = 'assets/gardiens/Orc Shaman - stats.png'">
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <img src="assets/gardiens/Orc Maitre-lame - stats.png" (click)="currentZoom = 'assets/gardiens/Orc Maitre-lame - stats.png'">
        </div>
        <div class="col-3">
          <img src="assets/gardiens/Orc Maitre-lame - img.png" (click)="currentZoom = 'assets/gardiens/Orc Maitre-lame - img.png'">
        </div>
        <div class="col-3">
          <img src="assets/gardiens/Gobelin Bricoleur - img.png" (click)="currentZoom = 'assets/gardiens/Gobelin Bricoleur - img.png'">
        </div>
        <div class="col-3">
          <img src="assets/gardiens/Gobelin Bricoleur - stats.png" (click)="currentZoom = 'assets/gardiens/Gobelin Bricoleur - stats.png'">
        </div>
      </div>

    </div>
  </div>

</div>

<div class="zoom" *ngIf="currentZoom" (click)="currentZoom = null">
  <img [src]="currentZoom">
</div>
