<div class="character level-{{ config.level }}" [style.background-image]="backgroundUrl | safeStyle">
  <span class="clone cursor-help"
        tooltip title="Cliquez pour en savoir plus" data-placement="right"
        data-toggle="modal" data-target="#explainCloneColor"
  ><span>{{ config.cloneNumber }}</span></span>

  <div class="name">{{ config.name}}-{{ config.level }}-{{ config.sector }}</div>

  <div class="affectation cursor-help"
       tooltip title="Cliquez pour en savoir plus" data-placement="right"
       data-toggle="modal" data-target="#explainAffectation"
  >{{ config.affectation && config.affectation.name }}</div>

  <span class="traitor cursor-help"
        [class.active]="traitorActive"
        tooltip title="Cliquez pour en savoir plus" data-placement="bottom"
        data-toggle="modal" data-target="#explainTraitor"
  >
    <i class="fa fa-star{{ config.traitor > 0 ? '' : '-o' }}" aria-hidden="true"></i>
    <i class="fa fa-star{{ config.traitor > 1 ? '' : '-o' }}" aria-hidden="true"></i>
    <i class="fa fa-star{{ config.traitor > 2 ? '' : '-o' }}" aria-hidden="true"></i>
    <i class="fa fa-star{{ config.traitor > 3 ? '' : '-o' }}" aria-hidden="true"></i>
    <i class="fa fa-star{{ config.traitor > 4 ? '' : '-o' }}" aria-hidden="true"></i>
  </span>

  <span class="actions">
    <i class="fa fa-cube" aria-hidden="true" [class.active]="config.currentAction === 'modalDices'"></i>
    <i class="fa fa-search" aria-hidden="true" [class.active]="config.currentAction === 'modalInspect'"></i>
    <i class="fa fa-user" aria-hidden="true" [class.active]="config.currentAction === 'modalCharacter'"></i>
    <i class="fa fa-laptop" aria-hidden="true" [class.active]="config.currentAction === 'modalContact'"></i>
  </span>
</div>

<app-paranoia-modal [id]="'explainAffectation'" [title]="'Fonction Obligatoires Complémentaires'" [addClass]="'modal-lg'">
  <div class="modal-body">
    <div class="container-fluid">
      <p><b>Leader</b> d’Équipe, chargé de mener le groupe</p>
      <p>Officier Garant de la <b>Loyauté</b>, chargé de veiller à l'orthodoxie politique du groupe</p>
      <p>Officier Chargé de l'<b>Hygiène</b>, qui veille à la propreté des membres du groupe</p>
      <p>Officier Responsable des <b>Communications</b>, chargé de faire des rapports réguliers à l'Ordinateur</p>
      <p>Responsable du <b>Matériel</b>, qui veille à ce que chacun prenne soin du matériel attribué</p>
      <p>Officier Garant du <b>Bonheur</b>, chargé de remonter le moral des troupes</p>
    </div>
  </div>
</app-paranoia-modal>

<app-paranoia-modal [id]="'explainCloneColor'" [title]="'Accréditations et numéro de clone'" [addClass]="'modal-lg'">
  <div class="modal-body">
    <div class="container-fluid">
      <p>Vous commencez avec votre clone n°1, trandis que le clone n°6 ... sera votre dernier.</p>
      <p>Voici les différents niveaux d'accréditation dans l'ordre :</p>
      <p class="colors">
        <span class="level-IR" tooltip title="Infrarouge">IR</span>
        <span class="level-R" tooltip title="Rouge">R</span>
        <span class="level-O" tooltip title="Orange">O</span>
        <span class="level-J" tooltip title="Jaune">J</span>
        <span class="level-V" tooltip title="Vert">V</span>
        <span class="level-B" tooltip title="Bleu">B</span>
        <span class="level-I" tooltip title="Indigo">I</span>
        <span class="level-VI" tooltip title="Violet">VI</span>
        <span class="level-UV" tooltip title="Ultraviolet">UV</span>
      </p>
      <p>Vous ne devez pas utiliser quelque chose qui dépasse votre niveau d'acréditation.</p>
      <p>Toute personne d'un rang supérieur au vôtre a autorité sur vous et peut vous donner des ordres.</p>
    </div>
  </div>
</app-paranoia-modal>

<app-paranoia-modal [id]="'explainTraitor'" [title]="'Niveau de traitrise'" [addClass]="'modal-lg'">
  <div class="modal-body">
    <div class="container-fluid">
      <p>Au bout de 5 étoiles, vous êtes officiellement un traitre.</p>
      <p>Voici "quelques" exemples de traitrises :</p>
      <div class="row lists">
        <div class="col-md-6">
          <ul>
            <li>Être un mutant ou utiliser un pouvoir mutant</li>
            <li>Appartenir à une société secrète</li>
            <li>Être le seul survivant d'une mission</li>
            <li>Éteindre un communicateur pendant une mission</li>
            <li>Incapacité à être heureux</li>
            <li>Ne pas faire les choses nécessaires pour être heureux</li>
          </ul>
        </div>
        <div class="col-md-6">
          <ul>
            <li>Ne pas porter l'uniforme</li>
            <li>Échouer à une inspection d'hygiène</li>
            <li>Désobéir à l'ordinateur</li>
            <li>Posséder des informations ou des équipements non autorisés</li>
            <li>Demander des informations ou des équipements non autorisés</li>
            <li>Faire une fausse déclaration de trahison</li>
          </ul>
        </div>
      </div>
      <p>A l'inverse, voici des exemples pour regagner la confiance de l'Ordinateur :</p>
      <div class="row">
        <div class="col-md-6">
          <ul>
            <li>Exécuter un traître</li>
            <li>Dénoncer un traître</li>
            <li>Être extrêmement heureux</li>
          </ul>
        </div>
        <div class="col-md-6">
          <ul>
            <li>Recevoir une mention d'un supérieur</li>
            <li>Tester du matériel expérimental et le protéger</li>
            <li>Mourir en traître</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</app-paranoia-modal>
