<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Lanceur de sort versatil</h5>
          <p class="card-text">
  Le personnage peut lancer 1 sort en dépensant 2 emplacements de niveau inférieur<br>
  <br>
  Exemple : Lancer un sort de niveau 2 en dépensant 2 emplacement de sort niveau 1
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Attaquer sur la défensive</h5>
          <p class="card-text">
Permet de faire l'action "Esquiver", mais en pouvant attaquer avec un désavantage
</p><footer class="blockquote-footer">La meilleure défense, c'est l'attaque !</footer>
          <p></p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Défense totale</h5>
          <p class="card-text">
  En prenant l'action "Esquiver", ajoute +2 à la classe d'armure
  </p><footer class="blockquote-footer">La meilleure attaque, c'est la défense !</footer>
          <p></p>
        </div>
      </div>
    </div>

  </div>
</div>
