<div class="sheet-container">
  <img class="sheet" src="assets/nwod/nwod-sheet.jpg">

  <input type="text" maxlength="18" name="character-name" class="border-bottom">
  <input type="text" maxlength="18" name="character-age" class="border-bottom">
  <input type="text" maxlength="18" name="character-player" class="border-bottom">

  <input type="text" maxlength="18" name="character-concept" class="border-bottom">
  <input type="text" maxlength="18" name="character-virtue" class="border-bottom">
  <input type="text" maxlength="18" name="character-vice" class="border-bottom">

  <input type="text" maxlength="18" name="character-chronicle" class="border-bottom">
  <input type="text" maxlength="18" name="character-faction" class="border-bottom">
  <input type="text" maxlength="18" name="character-group-name" class="border-bottom">

  <div [class.filled]="filled" (click)="filled = !filled" class="dot intelligence-2"></div>
  <div [class.filled]="filled" (click)="filled = !filled" class="dot intelligence-3"></div>
  <div [class.filled]="filled" (click)="filled = !filled" class="dot intelligence-4"></div>
  <div [class.filled]="filled" (click)="filled = !filled" class="dot intelligence-5"></div>

  <div [class.filled]="filled" (click)="filled = !filled" class="dot wits-2"></div>
  <div [class.filled]="filled" (click)="filled = !filled" class="dot wits-3"></div>
  <div [class.filled]="filled" (click)="filled = !filled" class="dot wits-4"></div>
  <div [class.filled]="filled" (click)="filled = !filled" class="dot wits-5"></div>

  <div [class.filled]="filled" (click)="filled = !filled" class="dot resolve-2"></div>
  <div [class.filled]="filled" (click)="filled = !filled" class="dot resolve-3"></div>
  <div [class.filled]="filled" (click)="filled = !filled" class="dot resolve-4"></div>
  <div [class.filled]="filled" (click)="filled = !filled" class="dot resolve-5"></div>

  <div [class.filled]="filled" (click)="filled = !filled" class="dot strength-2"></div>
  <div [class.filled]="filled" (click)="filled = !filled" class="dot strength-3"></div>
  <div [class.filled]="filled" (click)="filled = !filled" class="dot strength-4"></div>
  <div [class.filled]="filled" (click)="filled = !filled" class="dot strength-5"></div>

  <div [class.filled]="filled" (click)="filled = !filled" class="dot dexterity-2"></div>
  <div [class.filled]="filled" (click)="filled = !filled" class="dot dexterity-3"></div>
  <div [class.filled]="filled" (click)="filled = !filled" class="dot dexterity-4"></div>
  <div [class.filled]="filled" (click)="filled = !filled" class="dot dexterity-5"></div>

  <div [class.filled]="filled" (click)="filled = !filled" class="dot stamina-2"></div>
  <div [class.filled]="filled" (click)="filled = !filled" class="dot stamina-3"></div>
  <div [class.filled]="filled" (click)="filled = !filled" class="dot stamina-4"></div>
  <div [class.filled]="filled" (click)="filled = !filled" class="dot stamina-5"></div>

  <div [class.filled]="filled" (click)="filled = !filled" class="dot presence-2"></div>
  <div [class.filled]="filled" (click)="filled = !filled" class="dot presence-3"></div>
  <div [class.filled]="filled" (click)="filled = !filled" class="dot presence-4"></div>
  <div [class.filled]="filled" (click)="filled = !filled" class="dot presence-5"></div>

  <div [class.filled]="filled" (click)="filled = !filled" class="dot manipulation-2"></div>
  <div [class.filled]="filled" (click)="filled = !filled" class="dot manipulation-3"></div>
  <div [class.filled]="filled" (click)="filled = !filled" class="dot manipulation-4"></div>
  <div [class.filled]="filled" (click)="filled = !filled" class="dot manipulation-5"></div>

  <div [class.filled]="filled" (click)="filled = !filled" class="dot composure-2"></div>
  <div [class.filled]="filled" (click)="filled = !filled" class="dot composure-3"></div>
  <div [class.filled]="filled" (click)="filled = !filled" class="dot composure-4"></div>
  <div [class.filled]="filled" (click)="filled = !filled" class="dot composure-5"></div>
</div>
