<mat-toolbar>
  <a routerLink="/">RPG Digital tools</a>
  <a class="link-github tooltipped" target="_blank" href="https://github.com/RaphaelYan/rpg-digital-tools" data-position="left" data-delay="50" data-tooltip="Check me on Github !">
    <img src="assets/Octocat.png">
  </a>
</mat-toolbar>

<button mat-button [matMenuTriggerFor]="ddMenu">Dungeons & Dragons</button>
<mat-menu #ddMenu="matMenu">
    <a mat-menu-item routerLink="/dd-builder">Builder</a>
</mat-menu>

<router-outlet></router-outlet>
