<button type="button" (click)="debug = !debug">toggle DEBUG mode</button>

<div class="sheet-container" [class.debug]="debug">
  <img class="sheet" src="assets/nwod/nwod-sheet.jpg">

  <ng-template ngFor let-item [ngForOf]="arrayOfCharacter">
    <input type="text" maxlength="18" [attr.name]="item" class="border-bottom" [(ngModel)]="form[item]">
  </ng-template>

  <ng-template ngFor let-atttribute [ngForOf]="arrayOfAttributes">
    <ng-template ngFor let-score [ngForOf]="arrayOfFive">
      <ng-template [ngIf]="score > 1">
        <div [class.filled]="form[atttribute] >= score"
             (click)="clickDot(atttribute, score)"
             class="dot {{atttribute}}-{{score}}"
         ></div>
      </ng-template>
    </ng-template>
  </ng-template>

  <ng-template ngFor let-skill [ngForOf]="arrayOfSkills">
    <ng-template ngFor let-score [ngForOf]="arrayOfFive">
      <div [class.filled]="form[skill] >= score"
           (click)="clickDot(skill, score)"
           class="dot {{skill}}-{{score}}"
       ></div>
    </ng-template>
  </ng-template>

  <input type="number" name="size" [(ngModel)]="form['size']" (ngModelChange)="formChanged()">
  <input type="number" name="speed" [(ngModel)]="form['speed']" (ngModelChange)="formChanged()" disabled>
  <input type="number" name="initiative" [(ngModel)]="form['initiative']" (ngModelChange)="formChanged()" disabled>
  <input type="number" name="defense" [(ngModel)]="form['defense']" (ngModelChange)="formChanged()" disabled>
  <input type="number" name="armor" [(ngModel)]="form['armor']" (ngModelChange)="formChanged()">

  <ng-template ngFor let-score [ngForOf]="arrayOfTwelve">
    <div [class.filled]="form.health >= score"
         class="dot health-{{score}}"
     ></div>
  </ng-template>

  <ng-template ngFor let-score [ngForOf]="arrayOfTen">
    <div [class.filled]="form.willpower >= score"
         class="dot willpower-{{score}}"
     ></div>
  </ng-template>

  <ng-template ngFor let-score [ngForOf]="arrayOfTen">
    <div [class.filled]="form.morality >= score"
         (click)="clickDot('morality', score)"
         class="dot morality-{{score}}"
     ></div>
  </ng-template>

</div>
