<div class="container">
  <h2>Quel jeu ?</h2>
  <ng-template [ngIf]="!selectedEscape">
    <ul>
      <li (click)="selectEscape(escape)" *ngFor="let escape of escapes">
        {{ escape.title }}
      </li>
    </ul>
  </ng-template>

  <ng-template [ngIf]="selectedEscape && !selectedGame">
    <ul>
      <li *ngIf="selectedEscape.rules"><a [attr.href]="selectedEscape.rules" target="_blank">Les règles ici !</a></li>
      <li (click)="selectGame(game)" *ngFor="let game of selectedEscape.games">
        {{ game.title }}
      </li>
    </ul>
  </ng-template>

  <ng-template [ngIf]="selectedGame">
    <div class="escape-card" *ngFor="let card of selectedGame.cards" (click)="cardClicked(card)">
      <img src="assets/escape/{{selectedEscape.slug}}/{{selectedGame.slug}}/{{card}}-b.png" [hidden]="cardsClicked[card]">
      <img src="assets/escape/{{selectedEscape.slug}}/{{selectedGame.slug}}/{{card}}-f.png" [hidden]="!cardsClicked[card]">
    </div>
  </ng-template>
</div>
