<div class="container">

  <ng-template [ngIf]="!selectedGame">
    <h2>Sélectionnez votre jeu :</h2>
    <ul>
      <li>
        <a href="assets/escape/rules_fr.pdf" target="_blank">Les règles ici !</a>
      </li>
      <li (click)="selectGame(game)" *ngFor="let game of games">
        {{ game.title }}
        <span>
          (Difficulté :
          <i class="fa fa-lock" *ngIf="game.difficulty  >= 1"></i>
          <i class="fa fa-lock" *ngIf="game.difficulty  >= 2"></i>
          <i class="fa fa-lock" *ngIf="game.difficulty  >= 3"></i>
          )
        </span>
      </li>
    </ul>
  </ng-template>

  <ng-template [ngIf]="selectedGame">
    <h2><i class="fa fa-arrow-left clickable" (click)="selectedGame = null"></i> {{ selectedGame.title }}</h2>
    <div class="escape-card" *ngFor="let card of selectedGame.cards" (click)="cardClicked(card)">
      <img src="assets/escape/{{selectedGame.slug}}/{{card}}-b.png" [hidden]="cardsClicked[card]">
      <img src="assets/escape/{{selectedGame.slug}}/{{card}}-f.png" [hidden]="!cardsClicked[card]">
    </div>
  </ng-template>
</div>
