@import './variables';

.modal-actions {
  text-align: center;
  margin-bottom: 0;

  .col-md-6 {
    padding: 5px;
  }
  .action {
    padding: 15px 0;
    cursor: pointer;

    i {
      font-size: 40px;
      display: block;
    }
  }
}

.modal-actions .action.bg-1 { background: $colorR; }
.modal-actions .action.bg-2 { background: $colorO; }
.modal-actions .action.bg-3 { background: $colorJ; }
.modal-actions .action.bg-4 { background: $colorV; }
