.move-area {
  height: 500px;
  width: 100%;
  border: 10px double;
}


.computer1 {
  left: 200px;
  top: 150px;
}
.computer2 {
  left: 400px;
  top: 150px;
}
.computer3 {
  left: 200px;
  top: 400px;
}
