<div class="row">
  <div class="col-12">
    <div class="box bg-success"></div> Contondant (15 minutes)
    <div class="box bg-warning"></div> Léthal (2 jours)
    <div class="box bg-danger"></div> Aggravé (1 semaine)
  </div>
</div>

<div class="row">
  <div class="col-sm-3 col-xs-12" *ngFor="let player of players | async">
    <div class="card text-center">
      <h2>
        <div class="box" style="background-color:{{player.color}}"></div>
        {{ player.name }}
        <ng-container *ngIf="player.ownerUrl && hasAccessToSheet(player)">
          (<a [attr.href]="'https://raphaelyan.github.io/rpg-digital-tools/nwod/mage/' + player.ownerUrl" target="_blank">lien</a>)
        </ng-container>
      </h2>

      <div class="col-12">Santé</div>
      <div class="col-12 boxes">
        <div class="box {{ box }}" *ngFor="let box of player.health; let i = index; let last = last" (click)="openModal(player, player.health, i)">

          <div class="health_malus" *ngIf="last">
            <span>-1</span>
            <span>-2</span>
            <span *ngIf="!player.steel_vigor">-3</span>
          </div>

        </div>
      </div>

      <div class="col-12">Volonté</div>
      <div class="col-12 boxes">
        <div class="box {{ box }}" *ngFor="let box of player.willpower; let i = index" (click)="toggleBox(player, player.willpower, i)">
        </div>
      </div>

      <ng-container *ngIf="player.mana">
        <div class="col-12 text-center">Mana</div>
        <div class="col-12 boxes boxes-mana">
          <div class="box {{ box }}" *ngFor="let box of player.mana; let i = index" (click)="toggleBox(player, player.mana, i)">
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="player.destinee">
        <div class="col-12">Destinée</div>
        <div class="col-12 boxes">
          <div class="box {{ box }}" *ngFor="let box of player.destinee; let i = index" (click)="toggleBox(player, player.destinee, i)">
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="player.bonus">
        <div class="col-12">Bonus</div>
        <ul>
          <li *ngFor="let bonus of player.bonus">{{ bonus }}</li>
        </ul>
      </ng-container>

      <div class="col-12">Sorts Actifs</div>
      <div class="col-12" *ngIf="hasAccessToSheet(player)">
        <i>Actif max = {{ player.spells_max }} / Sur soi = {{ player.spells_self }}</i>
      </div>
      <ng-container *ngFor="let spell of player.active_spells">
        <div>
          <div class="box" style="background-color:{{spell.color}}"></div>
          {{ spell.name }}
        </div>
      </ng-container>

      <div class="col-12 mb-3" *ngIf="!player.active_spells.length">Aucun !</div>
      <button type="button" class="btn btn-outline-primary mb-3 btn-sm" *ngIf="hasAccessToSheet(player)" (click)="openSpellsModal(player)">Editer</button>
      <button type="button" class="btn btn-outline-primary mb-3 btn-sm" *ngIf="isAdmin()" (click)="resetSpells(player)">Reset</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h2>Notes du DM</h2>

    <div [hidden]="isAdmin() && showInput">
      <button type="button" class="btn btn-outline-primary btn-block mb-1 btn-sm" *ngIf="isAdmin()" (click)="showInput = !showInput">Editer</button>
      <div class="notes" [innerHtml]="(text | async)?.text"></div>
    </div>
    <div [hidden]="!isAdmin() || (isAdmin() && !showInput)">
      <button type="button" class="btn btn-success btn-block mb-1 btn-sm" *ngIf="isAdmin()" (click)="updateText(currentText)">Enregistrer</button>
      <textarea class="col-12" rows="10" [(ngModel)]="currentText">
      </textarea>
    </div>
  </div>
</div>

<div class="row">
  <!-- PUBLIC NOTES -->
  <div class="col-sm-3 col-xs-12" *ngFor="let player of players | async; let i = index">
    <h2>Notes de {{ player.name }}</h2>

    <div [hidden]="hasAccessToSheet(player) && player.showInput">
      <button type="button" class="btn btn-outline-primary btn-block mb-1 btn-sm" *ngIf="hasAccessToSheet(player)" (click)="player.showInput = !player.showInput">Editer</button>
      <div class="notes" [innerHtml]="player.text"></div>
    </div>
    <div [hidden]="!hasAccessToSheet(player) || (hasAccessToSheet(player) && !player.showInput)">
      <button type="button" class="btn btn-success btn-block mb-1 btn-sm" *ngIf="hasAccessToSheet(player)" (click)="updatePlayerText(player, player.text)">Enregistrer</button>
      <textarea class="col-12" rows="10" [(ngModel)]="player.text">
      </textarea>
    </div>
  </div>
</div>

<div class="row">
  <!-- PRIVATE NOTES -->
  <ng-container *ngFor="let player of players | async; let i = index">
    <div [class.col-sm-12]="!isAdmin()" [class.col-sm-3]="isAdmin()" *ngIf="hasAccessToSheet(player)">
      <h2>Tes notes privées</h2>

      <div [hidden]="player.showPrivateInput">
        <button type="button" class="btn btn-outline-primary btn-block mb-1 btn-sm" (click)="player.showPrivateInput = !player.showPrivateInput">Editer</button>
        <div class="notes" [innerHtml]="player.privateText"></div>
      </div>
      <div [hidden]="!player.showPrivateInput">
        <button type="button" class="btn btn-success btn-block mb-1 btn-sm" (click)="updatePlayerPrivateText(player, player.privateText)">Enregistrer</button>
        <textarea class="col-12" rows="10" [(ngModel)]="player.privateText">
        </textarea>
      </div>
    </div>
  </ng-container>
</div>

<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modifier la case</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="setBox('')">Vider</button>
        <button type="button" class="btn btn-success" (click)="setBox('bg-success')">Contondant</button>
        <button type="button" class="btn btn-warning" (click)="setBox('bg-warning')">Léthal</button>
        <button type="button" class="btn btn-danger" (click)="setBox('bg-danger')">Aggravé</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="staticSpellsBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modifier les sorts actifs</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="currentPlayer">
        <ng-container *ngFor="let spell of currentPlayer.active_spells; let i = index">
          <div class="text-center">
            <div class="box" style="background-color:{{spell.color}}"></div>
            {{ spell.name }}
            <button type="button" class="btn btn-danger" (click)="removeSpell(i)">X</button>
          </div>
        </ng-container>

        <hr *ngIf="currentPlayer.active_spells.length">

        <div class="form-group">
          <label for="spell-name">Nom du sort</label>
          <input type="text" class="form-control" id="spell-name" placeholder="Nom du sort ..." [(ngModel)]="formSpell.name">
        </div>
        <div class="form-group">
          <label for="spell-target">Sur qui ?</label>
          <select class="form-control" id="spell-target" [(ngModel)]="formSpell.color">
            <option *ngFor="let player of staticData" [value]="player.color">
              {{ player.name }}
            </option>
            <option value="#000000">Autre</option>
          </select>
        </div>

        <button type="button" class="btn btn-success" (click)="addSpell()">Ajouter</button>
      </div>
    </div>
  </div>
</div>
