.box {
  width: 20px;
  height: 20px;
  border: 2px solid black;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.box + .box {
  margin-left: 5px;
}

.modal .btn {
  min-height: 38px;
  min-width: 40px;;
}

.health_malus {
  position: absolute;
  right: 3px;
  width: 70px;
  text-align: right;
  font-size: 12px;
  top: 18px;
  span + span {
    margin-left: 12px;
  }
}

.boxes {
  margin-bottom: 15px;
}

.notes {
  border: 1px solid;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
}
