<div class="row">
  <div class="col-12">
    <div class="box bg-success"></div> Contondant
    <div class="box bg-warning"></div> Léthal
    <div class="box bg-danger"></div> Aggravé
  </div>
</div>

<div class="row">
  <div class="col-sm-4 col-xs-12" *ngFor="let player of players | async">
    <div class="card">
      <h2 class="text-center">
        {{ player.name }}
        <ng-template [ngIf]="hasAccessToSheet(player)">
          (<a [attr.href]="'https://raphaelyan.github.io/rpg-digital-tools/nwod/mage/' + player.ownerUrl" target="_blank">lien</a>)
        </ng-template>
      </h2>

      <div class="col-12 text-center">Santé</div>
      <div class="col-12 boxes">
        <div class="box {{ box }}" *ngFor="let box of player.health; let i = index; let last = last" (click)="openModal(player, player.health, i)">

          <div class="health_malus" *ngIf="last">
            <span>-1</span>
            <span>-2</span>
            <span *ngIf="!player.steel_vigor">-3</span>
          </div>

        </div>
      </div>

      <div class="col-12 text-center">Volonté</div>
      <div class="col-12 boxes">
        <div class="box {{ box }}" *ngFor="let box of player.willpower; let i = index" (click)="toggleBox(player, player.willpower, i)">
        </div>
      </div>

      <div class="col-12 text-center">Mana</div>
      <div class="col-12 boxes">
        <div class="box {{ box }}" *ngFor="let box of player.mana; let i = index" (click)="toggleBox(player, player.mana, i)">
        </div>
      </div>

      <ng-container *ngIf="player.destinee">
        <div class="col-12 text-center">Destinée</div>
        <div class="col-12 boxes">
          <div class="box {{ box }}" *ngFor="let box of player.destinee; let i = index" (click)="toggleBox(player, player.destinee, i)">
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6" [class.offset-3]="!isAdmin()">
    <h2>Notes du DM</h2>
    <div class="notes" [innerHtml]="(text | async)?.text"></div>
  </div>
  <textarea *ngIf="isAdmin()" class="col-6" rows="5" [ngModel]="currentText" (ngModelChange)="updateText($event)">
  </textarea>
</div>

<div class="row">
  <div class="col-sm-4 col-xs-12" *ngFor="let player of players | async; let i = index">
    <h2>Notes de {{ player.name }}</h2>
    <div class="notes" [innerHtml]="player.text"></div>
  </div>
</div>
<div class="row">
  <textarea *ngIf="staticData[0] && hasAccessToSheet(staticData[0])" class="col-12" rows="5" [(ngModel)]="staticData[0].text" (ngModelChange)="updatePlayerText(staticData[0], $event)">
  </textarea>
  <textarea *ngIf="staticData[1] && hasAccessToSheet(staticData[1])" class="col-12" rows="5" [(ngModel)]="staticData[1].text" (ngModelChange)="updatePlayerText(staticData[1], $event)">
  </textarea>
  <textarea *ngIf="staticData[2] && hasAccessToSheet(staticData[2])" class="col-12" rows="5" [(ngModel)]="staticData[2].text" (ngModelChange)="updatePlayerText(staticData[2], $event)">
  </textarea>
</div>

<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modifier la case</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="setBox('')">Vider</button>
        <button type="button" class="btn btn-success" (click)="setBox('bg-success')">Contondant</button>
        <button type="button" class="btn btn-warning" (click)="setBox('bg-warning')">Léthal</button>
        <button type="button" class="btn btn-danger" (click)="setBox('bg-danger')">Aggravé</button>
      </div>
    </div>
  </div>
</div>
