<h3>Capacités gratos</h3>

<u>L'atout "statut 1 (Consilium)"</u>
<ul>
  <li>te permet d'être invité aux réunions du Consilium</li>
  <li>ça te permet de connaitre les derniers événements</li>
  <li>et où sont disposées les Cabales dans le coin</li>
  <li>et potentiellement d'autres infos</li>
</ul>

<u>L'atout "Haute Langue 1"</u>
<ul>
  <li>tu connais la langue Atlante</li>
  <li>lors d'un lancer de sort, tu peux incanter avec cette langue</li>
  <li>il faut parler à haute voix pour que ca marche</li>
  <li>ca permet d'ajouter +2 à un lancer de sort, mais tu perds ta défense</li>
  <li>tu peux l'apprendre aux autres, qui pourront l'acheter à la fin du 1er scénario</li>
</ul>

<u>La compétence "Occulte", 1 point gratuit dedans</u>
<ul>
  <li>tu peux mettre + si tu veux, maximum 3 en tout</li>
  <li>les autres ne peuvent PAS prendre cette compétence</li>
  <li>ça représente les connaissances/expériences du surnaturel</li>
</ul>

<u>La gnose à 2 pour démarrer</u>
<ul>
  <li>C'est le degré de compréhension de la magie ainsi que la puissance brute du personnage</li>
</ul>

<h3>Les noms d'ombre</h3>

<u>En tant que leader :</u>
<ul>
  <li>tu connais le "vrai" nom/prénom de tes camarades</li>
  <li>à toi de déterminer s'ils connaissent le tien</li>
  <li>tu dois leur faire prendre un "nom d'ombre", un pseudo, afin que leur "vrai" nom/prénom ne soit pas dévoilé</li>
  <li>btw, pas oublier de te trouver un nom d'ombre</li>
</ul>

<h3>Le Consilium</h3>

<p>Le consilium, c'est un peu comme le ministère de la magie dans Harry Potter.</p>
Il est composé de :
<ul>
  <li>1 hiérarque (le chef)</li>
  <li>4 conseillers</li>
  <li>ces 5 personnes sont chacun d'une voie différente, pour que tous soient représentés</li>
  <li>5 prévôts (1 pour chaque personne ci-dessus), qui sont les "secrétaires"</li>
  <li>des hérauts, qui sont des représentants du Consilium</li>
  <li>des sentinelles, la police du Consilium, qu'on envoi venir te voir quand ça va pas</li>
</ul>

<h3>La Lex Magica</h3>

<p>C'est la loi, fondée sur l'ancien code de la grande cité d'Atlantide.</p>

<p>La loi la plus sacrée, est celle du "voile", le fait de cacher la magie aux humains "normaux".</p>
<p>A ce qu'on dit, il y aurait des punitions paradoxales immédiates lorsqu'un humain voit de la magie.</p>

<p>Sinon le reste des lois, c'est relativement "pas faire de la merde", "pas tuer les gens", etc...</p>

<h3>Le sanctuaire</h3>

<p>C'est votre forteresse, votre hutte de sorcier, votre tour de magicien.</p>
<p>Là où vous expérimentés vos pouvoirs, à "moindre" risque. (y parait)</p>
<p>Et ca permet aussi de lancer des sorts plus facilement. (bonus de +1)</p>

<h3>Les mages, c'est quoi leur but ?</h3>

L'Ascension
<ul>
  <li>La plupart des mages ont pour objectif de faire "l'Ascension", de transcender le corps humain pour aller vivre dans les royaumes célestes.</li>
  <li>Certains pensent que pour cela, il faudrait atteindre 10 en gnose, d'autres 10 en Sagesse, d'autres encore parlent d'une porte située dans les ruines perdues de l'Atlantide.</li>
</ul>

L'histoire
<ul>
  <li>C'est un autre but de certains mages, retrouver l'histoire perdue de la grande cité d'Atlantide.</li>
  <li>Très peux de détails restent, ou sont cachés, sur ce qu'il s'est passé le jour de la chute de la cité.</li>
</ul>

La puissance
<ul>
  <li>Eh oui, il n'y a pas que l'argent qui peut rendre puissant, la magie ouvre beaucoup de portes...</li>
  <li>Certaines rumeurs parlent même de "lignées" de mage, ou d'héritage que l'on pourrait obtenir auprès de certaines familles</li>
</ul>

<h3>La mana</h3>

De ce que tu en sais, elle est nécessaire pour :
<ul>
  <li>lancer un sort qu'on ne connait pas parfaitement (qui n'est pas une routine OU pas d'une arcane majeure)</li>
  <li>lancer un sort qui fait des dégâts / des soins</li>
  <li>augmenter la puissance d'un sort</li>
  <li>atténuer les chances de paradoxe</li>
  <li>lancer un sort de bouclier pour la journée (ce sera utilisé très souvent)</li>
  <li>les conditions ci-dessus sont toutes "cumulables" :troll:</li>
</ul>

Pour en regagner on peut :
<ul>
  <li>faire un rituel d'1h sur une fontaine de mana (X point d'atout = X mana par jour)</li>
  <li>choisir de dégrader son corps physique pour 24h (tu n'as pas encore expérimenté cela, mais beaucoup de mages le font)</li>
  <li>sacrifier un être vivant, mais y parait que c'est pas bien (tu n'as pas encore expérimenté cela)</li>
</ul>

<h3>Les sorts</h3>

Par défaut, voilà les caractéristiques d'un sort
<ul>
  <li>Puissance = 1</li>
  <li>Nombre de cible = 1</li>
  <li>Zone = 1m rayon/cube</li>
  <li>Durée = 1 tour ou 1 scène</li>
</ul>

<p>
  Un mage en général utilise un focalisateur pour lancer un sort, il parait que ca atténue les chances de paradoxe.<br>
  Exemple : baguette magique, montre, collier, gemme, pièce, livre
</p>
