<div class="row">
  <div class="col-6">
    <h2>Etape 1</h2>
    <ul>
      <li>Choisir un "concept" de personnage, votre nom et votre âge</li>
      <li>Le concept est souvent basé sur un métier</li>
      <li>Exemples : journaliste, policier, SDF, hacker, ...</li>
    </ul>

    <h2>Etape 2</h2>
    <ul>
      <li>Choisir les "attributs", qui sont répartis en en 3 groupes (Mental, Physique, Social)</li>
      <li>5 points pour un groupe, 4 pour un autre et 3 pour le dernier</li>
      <li>Vous ne pouvez prendre le 5ème point dans un attribut</li>
    </ul>

    <h2>Etape 3</h2>
    <ul>
      <li>Choisir les "compétences", qui sont répartis en 3 groupes (Mental, Physique, Social)</li>
      <li>11 points pour un groupe, 7 pour un autre et 4 pour le dernier</li>
      <li>Vous ne pouvez prendre le 5ème point dans une compétence</li>
      <li>Vous ne pouvez prendre la compétence "occult"</li>
    </ul>

    <!--
    <h2>Etape 4</h2>
    <ul>
      <li>Choisir 3 spécialisation de compétences</li>
    </ul>
    -->

    <!--
    <h2>Etape 5</h2>
    <ul>
      <li>Choisir un "vice" et une "vertue"</li>
      <li>Vertues : Charité, Foi, Force d'âme, Espoir, Justice, Prudence, Tempérance</li>
      <li>Vices : Envie, Gourmandise, Avidité, Luxure, Orgueil, Paresse, Colère</li>
    </ul>
    -->

    <!--
    <h2>Etape 6</h2>
    <ul>
      <li>Dépenser 7 points  d'atout</li>
    </ul>
    -->

  </div>
  <div class="col-6">
    <h2>Lexique</h2>
    <ul>
      <li>Intelligence : capacités cognitives</li>
      <!-- => memory : intell + compo -->
      <li>Wits : capacités de réflexion</li>
      <!-- => perception : wits + compo -->
      <li>Resolve : concentration, détermination</li>
      <!-- => resist : reso+wits / reso+stam -->
      <li>Strength : puissance physique</li>
      <li>Dexterity : rapidité, finesse</li>
      <li>Stamina : vigueur, résistance physique</li>
      <li>Presence : prestance, stature, attrait</li>
      <li>Manipulation : charme, persuasion</li>
      <li>Composure : calme, assurance</li>
      <!-- => meditation : compo + wits -->
      <li class="li-empty"></li>
      <li>Academics : érudition, connaissances</li>
      <!-- => research : intell -->
      <li>Computer : informatique, programmation</li>
      <!-- => hacking : intell -->
      <li>Crafts : artisanat, réparations</li>
      <!-- => art : intell -->
      <!-- => repair : dex -->
      <li>Investigation : recherche, énigmes</li>
      <!-- => examine : wits -->
      <!-- => enigma : intell -->
      <li>Medecine : physiologie humaine, blessures</li>
      <!-- => healing : dex/intell -->
      <li>Occult : surnaturel, légendes</li>
      <li>Politics : bureaucratie, contacts</li>
      <li>Science : physique, chimie, biologie, ...</li>
      <li>Athletics : escalade, course, jeter un truc</li>
      <!-- => climbing : str -->
      <!-- => run : stam -->
      <!-- => jump : str -->
      <!-- => throw : dex -->
      <li>Brawl : combat à mains nues</li>
      <li>Drive : voitures, bateaux, course poursuite</li>
      <!-- => pursuit : dex -->
      <!-- => filature : wits -->
      <li>Firearms : pistolets, fusils d'assault</li>
      <li>Larceny : crochetage, vol à la tire</li>
      <!-- => bypass : dex -->
      <!-- => lock : dex -->
      <!-- => sleight of hand : dex -->
      <li>Stealth : discrétion, déplacement silencieux</li>
      <!-- => shadowing : wits -->
      <li>Survival : trouver à manger, un refuge</li>
      <!-- => foraging : wits -->
      <li>Weaponry : armes blanches</li>
      <li>Animal ken : comportement des animaux</li>
      <!-- => training : compo -->
      <li>Empathy : intuition, lire les émotions</li>
      <li>Expression : art de la communication</li>
      <li>Intimidation : via la peur, la force</li>
      <!-- => interrogation : wits -->
      <li>Persuasion : via le charme, la diplomatie</li>
      <!-- => deal : manip -->
      <!-- => fast talk : manip -->
      <!-- => oratory : pres -->
      <!-- => seduction : pres -->
      <li>Socialize : étiquette, sociabilité</li>
      <li>Streetwise : connaissance de la rue, marché noir</li>
      <!-- => black market : manip -->
      <li>Subterfuge : mensonges, cacher des émotions</li>
      <!-- => disguise : wits -->
      <li class="li-empty"></li>
      <li>Health : vos "points de vie"</li>
      <li>Willpower : votre "volonté"; dépenser 1 point ajoute 3 dés à un jet</li>
      <li>Morality : votre "humanité", évitez de décapiter des gens ;)</li>
    </ul>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-4">
    <h4>Attributes</h4>
    <ul>
      <li>1 = faible, non pratiqué</li>
      <li>2 = moyen, efforts occasionnels</li>
      <li>3 = bon, pratique régulièrement</li>
      <li>4 = exceptionnel, don naturel</li>
      <li>5 = hors du commun</li>
    </ul>
  </div>
  <div class="col-4">
    <h4>Skills</h4>
    <ul>
      <li>1 = novice</li>
      <li>2 = praticien</li>
      <li>3 = professionnel</li>
      <li>4 = expert</li>
      <li>5 = maître</li>
    </ul>
  </div>
  <div class="col-4">
    <h4>Health</h4>
    <ul>
      <li>Dégâts "contondants", récupère 1 point / 15 min (ex: batte de baseball)</li>
      <li>Dégâts "létaux", récupère 1 point / 2 jours (ex: pistolet)</li>
      <li>Dégâts "aggravés", récupère 1 point / 2 semaines (ex: lance-flamme)</li>
    </ul>
  </div>
</div>

<hr>

<button type="button" (click)="debug = !debug">DEBUG MODE</button>

<div class="sheet-container" [class.debug]="debug">
  <img class="sheet" src="assets/nwod/mage_eveil_vf-1.jpg">
  <img class="sheet" src="assets/nwod/mage_eveil_vf-2.jpg">

  <ng-template ngFor let-item [ngForOf]="arrayOfCharacter">
    <input type="text" maxlength="18" [attr.name]="item" class="border-bottom" [(ngModel)]="form[item]">
  </ng-template>

  <ng-template ngFor let-atttribute [ngForOf]="arrayOfAttributes">
    <ng-template ngFor let-score [ngForOf]="arrayOfFive">
      <ng-template [ngIf]="score > 1">
        <div [class.filled]="form[atttribute] >= score"
             (click)="clickDot(atttribute, score)"
             class="dot {{atttribute}}-{{score}}"
         ></div>
      </ng-template>
    </ng-template>
  </ng-template>

  <ng-template ngFor let-skill [ngForOf]="arrayOfSkills">
    <div [class.filled]="form.skillRotes[skill]"
         class="square rote {{skill}}-rote"
     ></div>
    <ng-template ngFor let-score [ngForOf]="arrayOfFive">
      <div [class.filled]="form[skill] >= score"
           (click)="clickDot(skill, score)"
           class="dot {{skill}}-{{score}}"
       ></div>
    </ng-template>
  </ng-template>

  <ng-template ngFor let-nb [ngForOf]="arrayOfEight">
    <input type="text" [attr.name]="'merit-' + nb" [(ngModel)]="form.merits[nb + '-name']">
    <ng-template ngFor let-score [ngForOf]="arrayOfFive">
      <div [class.filled]="form['merits-' + nb] >= score"
           (click)="clickDot('merits-' + nb, score)"
           class="dot merit-{{nb}}-{{score}}"
       ></div>
    </ng-template>
  </ng-template>

  <input type="text" name="flaw-1" [(ngModel)]="form['flaw-1']">
  <input type="text" name="flaw-2" [(ngModel)]="form['flaw-2']">
  <input type="text" name="flaw-3" [(ngModel)]="form['flaw-3']">

  <input type="number" name="size" [(ngModel)]="form['size']" (ngModelChange)="formChanged()">
  <input type="number" name="defense" [(ngModel)]="form['defense']" (ngModelChange)="formChanged()" disabled>
  <input type="number" name="initiative" [(ngModel)]="form['initiative']" (ngModelChange)="formChanged()" disabled>
  <input type="number" name="speed" [(ngModel)]="form['speed']" (ngModelChange)="formChanged()" disabled>

  <ng-template ngFor let-arcana [ngForOf]="arrayOfArcanas">
    <ng-template ngFor let-score [ngForOf]="arrayOfFive">
      <div [class.filled]="form[arcana] >= score"
           (click)="clickDot(arcana, score)"
           class="dot {{arcana}}-{{score}}"
       ></div>
    </ng-template>
  </ng-template>

  <ng-template ngFor let-score [ngForOf]="arrayOfFifteen">
    <div [class.filled]="form.health >= score"
         class="dot health health-{{score}}"
     ></div>
  </ng-template>

  <ng-template ngFor let-score [ngForOf]="arrayOfTen">
    <div [class.filled]="form.willpower >= score"
         class="dot willpower willpower-{{score}}"
     ></div>
  </ng-template>

  <ng-template ngFor let-score [ngForOf]="arrayOfTwenty">
    <div [class.filled]="form.mana >= score"
         class="square mana mana-{{score}}"
     ></div>
  </ng-template>

  <ng-template ngFor let-score [ngForOf]="arrayOfTen">
    <div [class.filled]="form.gnosis >= score"
         class="dot gnosis gnosis-{{score}}"
     ></div>
  </ng-template>

  <ng-template ngFor let-score [ngForOf]="arrayOfTen">
    <div [class.filled]="form.morality >= score"
         (click)="clickDot('morality', score)"
         class="dot morality-{{score}}"
     ></div>
  </ng-template>

</div>
