<div class="row">
  <div class="col-12 col-sm-7 infos">
    <h2>Quelques infos de base</h2>
    <section>
      <p>Je recommande de <strong>ne pas</strong> aller chercher des infos sur l'univers, ça pourrait vous spoil des éléments.</p>
    </section>
    <section>
      <p>Vous êtes un groupe de jeunes mages, et vous vous êtes "éveillés" récemment à la magie, vous êtes donc des "novices".</p>
    </section>
    <section>
      <p>Vous n'êtes pas forcément "soudés", mais votre survie peut dépendre de vos camarades.</p>
    </section>
    <section>
      <p>Vos personnages peuvent se connaître depuis "avant" votre éveil, ou depuis peu.</p>
    </section>
    <h2>Choses à choisir en groupe</h2>
    <section>
      <p>L'un•e d'entre vous fera office de "leader", qui en saura "un peu plus", et qui aura la "responsabilité" de votre groupe</p>
    </section>
    <section>
      <p>
        Certains atouts sont à acheter collectivement.
        Il vous faudra donc vous organiser sur qui dépense combien dans les atouts de "groupe",
        sachant que vous n'avez que 7 points par personne (ou + selon corruption du DM)
      </p>
    </section>
    <section>
      <p>Il faudra vous répartir dans les "voies" de magie, si vous souhaitez (ou pas) avoir accès à la plupart des "arcanes" :</p>
      <ul>
        <li>
          *Nom de la voie*
          <br>
          Arcanes majeures = facile à XP, max rang 5
          <br>
          Arcane inférieure = difficile à XP, max rang 2
          <br>
          Définitions des arcanes : <a href="http://letakol.free.fr/mage/arcanes.html" target="_blank">ici</a>
        </li>
        <li>
          <b>Acanthus</b>
          <br>
          Arcanes majeures = Temps / Destin
          <br>
          Arcane inférieure = Forces
        </li>
        <li>
          <b>Mastigos</b>
          <br>
          Arcanes majeures = Espace / Psyché
          <br>
          Arcane inférieure = Matière
        </li>
        <li>
          <b>Moros</b>
          <br>
          Arcanes majeures = Matière / Mort
          <br>
          Arcane inférieure = Esprit
        </li>
        <li>
          <b>Obrimos</b>
          <br>
          Arcanes majeures = Forces / Prime
          <br>
          Arcane inférieure = Mort
        </li>
        <li>
          <b>Thyrsus</b>
          <br>
          Arcanes majeures = Vie / Esprit
          <br>
          Arcane inférieure = Psyché
        </li>
      </ul>
    </section>
    <section>
      <p>Il faudra vous répartir dans les "ordres" de magie, si vous souhaitez (ou pas) avoir accès à la plupart des "organisations"</p>
      <ul>
        <li>
          <b>Flèche d'Adamantine</b> : défend les sanctuaires et les cabales grâce à sa magie de combat
          <br>
          Bonus : Athlétisme, Intimidation, Médecine
        </li>
        <li>
          <b>Conseil Libre</b> : cherche à échapper aux restrictions du passé et à moderniser l'art de la magie.
          <br>
          Bonus : Artisanat, Persuasion, Science
        </li>
        <li>
          <b>Gardiens du Voile</b> : protègent les Mystères de tous ceux qui voudraient les spolier ou qui oseraient
          <br>
          Bonus : Investigation, Furtivité, Subterfuge
        </li>
        <li>
          <b>Mysterium</b> : recherche les traditions précieuses et les connaissances oubliées
          <br>
          Bonus : Investigation, Occulte, Survie
        </li>
        <li>
          <b>Échelle d'Argent</b> : souhaite établir une véritable hiérarchie des mages
          <br>
          Bonus : Expression, Persuasion, Subterfuge
        </li>
      </ul>
    </section>
  </div>
  <div class="col-12 col-sm-5">
    <div class="card">
      <div class="card-body">
        <p>Si les portes de la perception étaient nettoyées, chaque chose apparaîtrait à l'homme telle qu'elle est : infinie.</p>
        <p>C'est ce que vous voyez maintenant.</p>
        <p>L'oeil de votre âme, l'ajna, le troisième oeil, s'est ouvert.</p>
        <p>Vous percevez par la lumière de votre Tour de guet, qui se dresse sur la rive infiniment lointaine au-delà des Abysses.</p>
        <p>Vous vous êtes éveillé et les mystères se sont dévoilés devant vous.</p>
        <p>Votre imagination est aussi réelle que votre corps, et votre volonté est sans entrave.</p>
        <p>C'est le pouvoir.</p>
        <p>C'est de la magie.</p>
        <p>Avec elle, vous allez refaire le monde.</p>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <p>Les mots sont puissants et les noms encore plus, car ils impliquent une connexion avec l'entité qu'ils dénotent.</p>
        <p>Un ennemi qui ne peut être nommé est un ennemi qui ne peut pas être ciblé avec la magie.</p>
        <p>Ainsi, les mages prennent souvent, après leur initiation, un nom d'ombre, cachant leur véritable nom de leurs ennemis.</p>
        <p>L'utilisation est la même qu'un masque lors d'un bal masqué.</p>
      </div>
    </div>

    <div class="card">
      <img src="assets/nwod/map.png" class="card-img-top" />
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 col-sm-6">

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          Atouts Physiques
        </h5>
        <p class="card-text">
          Ambidextre (3), enlève le malus de -2 pour la main secondaire<br>
          <br>
          Esquive de bagarre (1), ajoute "bagarre" à la défense<br>
          => nécessite Force 2, Bagarre 1<br>
          <br>
          Esquive des armes (1), ajoute "armes blanches" à la défense<br>
          => nécessite Force 2, Armes blanches 1<br>
          <br>
          Sens de l'orientation (1), toujours savoir où est le nord<br>
          <br>
          Désarmement (2), peut désarmer avec une arme<br>
          => nécessite Dex 3, Armes blanches 2<br>
          <br>
          Réflexes rapides (1 à 2), +1/+2 initiative<br>
          => nécessite Dex 3<br>
          <br>
          Combat en finesse (2), utilise la Dex à la place de la Force<br>
          => nécessite Dex 3, Armes blanches 2<br>
          <br>
          Style de combat : Boxe (1 à 5)<br>
          => nécessite For 3, Vig 2, Bagarre 3<br>
          - 1 : fait perdre la prochaine action<br>
          - 2 : défense++<br>
          - 3 : 2 attaques<br>
          - 4 : rendre inconscient<br>
          - 5 : dégâts léthaux<br>
          <br>
          Style de combat : Kung-Fu (1 à 5)<br>
          => nécessite For 2, Dex 2, Vig 2, Bagarre 2<br>
          - 1 : cibler des parties du corps<br>
          - 2 : armure++<br>
          - 3 : attaque-- defense++<br>
          - 4 : +DEX attaques<br>
          - 5 : dégâts léthaux<br>
          <br>
          Style de combat : Filipino Martial Arts (1 à 4)<br>
          => nécessite Dex 3, Armes blanches 3<br>
          - 1 : manoeuvre défensive pour atraper l'adversaire<br>
          - 2 : désarmer<br>
          - 3 : -2 attaque, 100% dégâts (solar plexus)<br>
          - 4 : ++défense<br>
          <br>
          Pieds rapides (1 à 3), +1/+2/+3 vitesse<br>
          => nécessite For 2<br>
          <br>
          Géant (4), +1 à la taille<br>
          <br>
          Vigueur d'acier (1 à 3), annule les malus de fatigue/blessure<br>
          => nécessite Vig 3 OU Resolution 3<br>
          <br>
          Immunité naturelle (1), +2 contre infection, maladie, ...<br>
          => nécessite Vig 2<br>
          <br>
          Guérisseur rapide (4), divise par 2 le temps de guérison<br>
          => nécessite Vig 4<br>
          <br>
          Cascadeur (3), peut effectue des actions en conduisant<br>
          => nécessite Dex 3<br>
          <br>
          Réistance aux toxines (2), +2 contre poison, drogues, ...<br>
          => nécessite Vig 3<br>
        </p>
      </div>
    </div>

  </div>
  <div class="col-12 col-sm-6">

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          Atouts Communs
        </h5>
        <p class="card-text">
          Sanctuaire - Taille (1 à 5)<br>
          La taille de votre base.<br>
          <span class="red">Un minimum de 2 est requis ici, mais vous serez à l'étroit</span><br>
          (1 = 2 pièces, 2 = 4 pièces, 3 = 8 pièces, 4 = manoir, 5 = campus)<br>
          <br>
          Sanctuaire - Sécurité (1 à 5)<br>
          Malus pour les ennemis qui voudraient vous attaquer / espionner / ...<br>
          <br>
          Fontaine de mana (1 à 5)<br>
          Nombre de points de mana générés par jour<br>
          <br>
          Bibliothèque (1 à 5)<br>
          Nombre de champs d'expertise de la bibliothèque (ex: démons, esprits, ...)<br>
          <br>
          Somnambule (1 à 5)<br>
          Un humain qui connaît l'existence de la magie, sans pour autant en posséder les capacités.
          Il sert principalement de majordome et s'occupe de tâches diverses, comme garder la maison en votre absence.<br>
          (1 = Maïté qui fait de la soupe, 5 = Alfred de Batman)
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          Atouts Surnaturels
        </h5>
        <p class="card-text">
          Rêves (1 à 5)<br>
          Permet de poser une question au DM, qui répond par 1 à 5 réponses<br>
          <br>
          Destinée (1 à 5)<br>
          2/4/6/8/10 dés "bonus" pour une game
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          Atouts Sociaux
        </h5>
        <p class="card-text">
          Contacts (1 à 5), ex: Police, Mysterium, Maison Blanche<br>
          <br>
          Inspirant (4), 1 fois par game, peut faire regagner 1 point de volonté<br>
          => nécessite Présence 4<br>
          <br>
          Mentor (1 à 5), quelqu'un qui forme, conseille, aide<br>
          <br>
          Ressources (1 à 5), $1.000, $5.000, $10.000, $500.000, $5.000.000<br>
          <br>
          Statut (1 à 5), hiérarchie, ex: Police, Mysterium, Maison Blanche<br>
          <br>
          Regard saisissant (2 ou 4), +1/+2 sur le social<br>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          Atouts Mentaux
        </h5>
        <p class="card-text">
          Sens du danger (2), +2 sur les réflexes<br>
          <br>
          Esprit méditatif (1), aucun malus pour méditer (bruit, ...)<br>
          <br>
          Langues (1 à 5), ex: russe, allemand, ...<br>
        </p>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-12 col-sm-6">
    <h2>Expérience</h2>
    <section>
      <p>
        Pour monter d'un niveau, il faut avoir un nombre de points d'expérience égal au rang souhaité, multiplié par sa valeur.
      </p>
      <p>
        Par exemple, pour passer du niveau 2 à 3 en Force (attribut), ça coûtera : 3 (rang souhaité) x 5 (valeur) = 15 Points d'expérience
      </p>
    </section>
    <section>
      Attribut : rang * 5<br>
      Compétence : rang * 3<br>
    </section>
    <section>
      Atout : rang * 2<br>
      Sagesse : rang * 3<br>
    </section>
    <section>
      Gnose : rang * 8<br>
      Routine : rang * 2<br>
    </section>
    <section>
      Arcanes majeures : rang * 6<br>
      Arcanes communes : rang * 7<br>
      Arcane inférieure : rang * 8<br>
    </section>
    <br>
    <section>
      <p>
        NB: l'expérience "arcanique" ne peut être dépensée que dans ce qui est magique (atouts commun/surnaturels, gnose, routines, arcanes)
      </p>
    </section>
  </div>

  <div class="col-12 col-sm-6">
    <h2>Sagesse</h2>
    On peut perdre de la sagesse, en faisant des actions "néfastes" du niveau correspondant ou inférieur :
    <ul>
      <li>10 : Avoir des pensées égoïstes / Utiliser la magie pour une action qui aurait pû être réalisée sans</li>
      <li>9 : Acte égoïste mineur (refuser la charité) / Contraindre magiquement une autre personne pour qu'elle agisse contre sa propre voloné</li>
      <li>8 : Blessure à autrui accidentel / Contraindre magiquement une autre personne pour qu'elle viole son propre code moral</li>
      <li>7 : Vol mineur (vol à l'étalage) / Jeter une malédiction sur quelqu'un</li>
      <li>6 : Grand vol (cambriolage) / Lier de force un esprit réticent à un lieu</li>
      <li>5 : Dommages intentionnels et massifs (incendie volontaire) / Transformer magiquement une personne en un être inférieur</li>
      <li>4 : Crime passionnel (homicide involontaire) / Utiliser la magie pour faire du mal à quelqu'un</li>
      <li>3 : Crime planifié (meurtre) / Enlèvement forcé d'une autre personne</li>
      <li>2 : Crime occasionnel (meurtre en série) / Prévenir intentionnellement un éveil de magie</li>
      <li>1 : Perversion totale (meurtre de masse) / Voler une âme</li>
    </ul>
  </div>
</div>
