<div class="row">
  <div class="col-7 infos">
    <h2>Quelques infos de base</h2>
    <section>
      <p>Je recommande de ne pas aller chercher des infos sur l'univers, ça pourrait vous spoil des éléments</p>
    </section>
    <section>
      <p>Vous êtes un groupe de jeune mage, et vous vous êtes "éveillé" récemment à la magie, vous êtes "novices"</p>
    </section>
    <section>
      <p>Vous n'êtes pas forcément "soudés", mais votre survie peut dépendre de vos camarades</p>
    </section>
    <section>
      <p>Vos personnages peuvent se connaitre depuis "avant" votre éveil, ou depuis peu.</p>
    </section>
    <h2>Choses à choisir en groupe</h2>
    <section>
      <p>L'un ou l'une d'entre vous fera office de "leader", qui en saura "un peu plus", et qui aura la "responsabilité" de votre groupe</p>
    </section>
    <section>
      <p>
        Certaines atouts sont à acheter collectivement, il vous faudra vous organiser sur qui dépense combien dans les atouts de "groupe", sachant que vous avez 2 points par personne (ou + selon corruption du DM), et que vous voudrez surement les dépenser dans d'autres choses, comme des "dons" :
      </p>
      <ul>
        <li>
          *Nom de l'atout* (coûts en points)
          <br>
          *Description de l'atout*
        </li>
        <li>
          <b>Sanctuaire - Taille</b> (1 à 5)
          <br>
          La taille de votre base.
          <br><span class="red">Un minimum de 2 est requis ici, mais vous serez à l'étroit</span>
          <br>(1 = 2 pièces, 2 = 4 pièces, 3 = 8 pièces, 4 = manoir, 5 = campus)
        </li>
        <li>
          <b>Sanctuaire - Sécurité</b> (1 à 5)
          <br>
          Malus pour les ennemis qui voudraient vous attaquer / espionner / ...
        </li>
        <li>
          <b>Fontaine de mana</b> (1 à 5)
          <br>
          Nombre de point de mana généré par jour
        </li>
        <li>
          <b>Bibliothèque</b> (1 à 5)
          <br>
          Nombre de champs d'expertise de la bibliothèque (ex: démons, esprits, ...)
        </li>
        <li>
          <b>Somnambule</b> (1 à 5)
          <br>
          Un humain qui connait l'existence de la magie sans pour autant en posséder les capacités, sert principalement de majordome et s'occupe de tâches diverses, tel que garder la maison en votre absence.
          <br>
          (1 = Maïté, 5 = Alfred)
        </li>
      </ul>
    </section>
    <section>
      <p>Il faudra vous répartir dans les "voies"" de magie, si vous souhaitez (ou pas) avoir accès à la plupart des "arcanes":</p>
      <ul>
        <li>
          *Nom de la voie*
          <br>
          Arcanes majeures = facile à XP, max rang 5
          <br>
          Arcane inférieure = difficile à XP, max rang 2
          <br>
          Définitions des arcanes : <a href="http://letakol.free.fr/mage/arcanes.html" target="_blank">ici</a>
        </li>
        <li>
          <b>Acanthus</b>
          <br>
          Arcanes majeures = Temps / Destin
          <br>
          Arcane inférieure = Forces
        </li>
        <li>
          <b>Mastigos</b>
          <br>
          Arcanes majeures = Espace / Psyché
          <br>
          Arcane inférieure = Matière
        </li>
        <li>
          <b>Moros</b>
          <br>
          Arcanes majeures = Matière / Mort
          <br>
          Arcane inférieure = Esprit
        </li>
        <li>
          <b>Obrimos</b>
          <br>
          Arcanes majeures = Forces / Prime
          <br>
          Arcane inférieure = Mort
        </li>
        <li>
          <b>Thyrsus</b>
          <br>
          Arcanes majeures = Vie / Esprit
          <br>
          Arcane inférieure = Psyché
        </li>
      </ul>
    </section>
    <section>
      <p>Il faudra vous répartir dans les "ordres" de magie, si vous souhaitez (ou pas) avoir accès à la plupart des "organisations"</p>
      <ul>
        <li>
          <b>Flèche d'adamantine</b> : défend les sanctuaires et les cabales grâce à sa magie de combat
          <br>
          Bonus : Athlétisme, Intimidation, Médecine
        </li>
        <li>
          <b>Conseil libre</b> : cherche à échapper aux restrictions du passé et à moderniser l'art de la magie.
          <br>
          Bonus : Artisanat, Persuasion, Science
        </li>
        <li>
          <b>Gardiens du voile</b> : protègent les Mystères de tous ceux qui voudraient les spolier ou qui oseraient
          <br>
          Bonus : Investigation, Furtivité, Subterfuge
        </li>
        <li>
          <b>Mysterium</b> : recherche les traditions précieuses et les connaissances oubliées
          <br>
          Bonus : Investigation, Occulte, Survie
        </li>
        <li>
          <b>Echelle d'argent</b> : souhaite établir une véritable hiérarchie des mages
          <br>
          Bonus : Expression, Persuasion, Subterfuge
        </li>
      </ul>
    </section>
  </div>
  <div class="col-5">
    <div class="card">
      <div class="card-body">
        <p>Si les portes de la perception étaient nettoyées, chaque chose apparaîtrait à l'homme telle qu'elle est : infinie.</p>
        <p>C'est ce que vous voyez maintenant.</p>
        <p>L'oeil de votre âme, l'ajna, le troisième oeil, s'est ouvert.</p>
        <p>Vous percevez par la lumière de votre Tour de guet, qui se dresse sur la rive infiniment lointaine au-delà des abysses.</p>
        <p>Vous vous êtes éveillé et les mystères se sont dévoilés devant vous.</p>
        <p>Votre imagination est aussi réelle que votre corps, et votre volonté est sans entrave.</p>
        <p>C'est le pouvoir.</p>
        <p>C'est de la magie.</p>
        <p>Avec elle, vous allez refaire le monde.</p>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <p>Les mots sont puissants et les noms encore plus, car ils impliquent une connexion avec l'entité qu'ils dénotent.</p>
        <p>Un ennemi qui ne peut être nommé est un ennemi qui ne peut pas être ciblé avec la magie.</p>
        <p>Ainsi, les mages prennent souvent, après leur initiation, un nom d'ombre, cachant leur véritable nom de leurs ennemis.</p>
        <p>L'utilisation est la même qu'un masque lors d'un bal masqué.</p>
      </div>
    </div>

    <div class="card">
      <img src="assets/nwod/map.png" class="card-img-top">
    </div>
  </div>
</div>
