Filter :

<br>

Par ordre :
<select name="order" [(ngModel)]="selectedOrder" (ngModelChange)="updateFilter()">
  <option value=""></option>
  <option *ngFor="let order of orders" [value]="order">{{ order }}</option>
</select>

<br>

Par arcane :
<select name="arcana" [(ngModel)]="selectedArcana" (ngModelChange)="updateFilter()">
  <option value=""></option>
  <option *ngFor="let arcana of arcanas" [value]="arcana">{{ arcana }}</option>
</select>

<br>
<br>

<p>
  Nombre de Routines : {{ spells.length }}
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Arcane</th>
      <th>Routine ?</th>
      <th>Description</th>
      <th>Spécial</th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-spell [ngForOf]="spells">
      <tr>
        <td>{{ spell.arcana }}</td>
        <td>{{ spell.rote }}</td>
        <td>{{ spell.description }}</td>
        <td class="special">
          <span class="text-danger" *ngIf="spell.vulgar">Vulgaire</span>
          <span class="text-success" *ngIf="spell.alreadyOwned">Possédé</span>
          <span class="text-info" *ngIf="spell.costReduced">XP réduit</span>
          <span class="text-primary" *ngIf="spell.costMana">1 mana</span>
          <span class="text-warning" *ngIf="spell.rote === 'Artefact'">Artefact</span>
        </td>
      </tr>
    </ng-template>
  </tbody>
</table>
