Filter :

<br>

Par ordre :
<select name="order" [(ngModel)]="selectedOrder">
  <option value=""></option>
  <option *ngFor="let order of orders" [value]="order.value">{{ order.label }}</option>
</select>

<br>

Par arcane :
<select name="arcana" [(ngModel)]="selectedArcana">
  <option value=""></option>
  <option *ngFor="let arcana of arcanas" [value]="arcana.value">{{ arcana.label }}</option>
</select>

<br>
<br>
<br>
<br>

<ng-template ngFor let-order [ngForOf]="orders">
  <ng-template [ngIf]="!selectedOrder || selectedOrder === order.value">
    <ng-template ngFor let-arcana [ngForOf]="arcanas">
      <ng-template [ngIf]="!selectedArcana || selectedArcana === arcana.value">
        <ng-template ngFor let-nb [ngForOf]="arrayOfFive">
          <ng-template [ngIf]="rotes[order.value][arcana.value]['rotes_' + nb]">
            <h2>Routines rang {{ nb }} ({{ order.label }} - {{ arcana .label}})</h2>
            <ng-template ngFor let-rote [ngForOf]="rotes[order.value][arcana.value]['rotes_' + nb]">
              Nom : {{ rote.name }}<br>
              Jet : {{ rote.roll }}<br>
              <ng-template [ngIf]="rote.cost">
                Coût : {{ rote.cost }}<br>
              </ng-template>
              Description : <span [innerHtml]="rote.description"></span><br>
              Durée : {{ rote.duration }}<br>
              <br>
            </ng-template>
          </ng-template>
        </ng-template>
      </ng-template>
    </ng-template>
  </ng-template>
</ng-template>
