<div class="container">
  <div class="row">
    <h3 class="center-align underlined-title">D&D 5 - Carac builder</h3>
  </div>

  <div class="row">
    <div class="text-left col-6">
      <select class="custom-select mode" [(ngModel)]="mode" (ngModelChange)="reset()">
        <option value="points27" selected>Mode par points (27 points, min 8, max 15)</option><!-- moyenne = 12,5 -->
        <option value="points35" selected>Mode par points héroïque (35 points, min 6, max 17)</option><!-- moyenne = 13,3 -->
        <option value="free">Libre</option>
        <!-- 4d6 => moyenne = 12,2 -->
      </select>
      <sub>* Changer ce champs reset le formulaire</sub>
    </div>
    <div class="center-align col-6 points" *ngIf="mode === 'points27' || mode === 'points35'">Points : {{ points }}</div>
  </div>

  <div class="row">
    <div class="input-field col-6">
      <select id="select-race" class="custom-select">
        <option value="" disabled selected>Sélectionnez votre race</option>
        <ng-template ngFor let-race [ngForOf]="races">
          <optgroup *ngIf="race.subraces" [attr.label]="race.label">
            <option *ngFor="let subrace of race.subraces" (click)="selectRace(subrace)" [value]="subrace.racial">{{ subrace.label }} ({{ subrace.bonus }})</option>
          </optgroup>
          <option *ngIf="!race.subraces" (click)="selectRace(race)" [value]="race.racial">{{ race.label }} ({{ race.bonus }})</option>
        </ng-template>
      </select>
    </div>
    <div class="col-6 total-mods">
      <h5 class="center-align">Total modificateurs : {{ totalMods }}</h5>
    </div>
  </div>

  <div class="row">

    <table class="carac-table bordered centered col-12">
      <thead class="light-blue">
        <tr>
          <th data-field="carac">Caractéristiques</th>
          <th data-field="score">Score</th>
          <th data-field="mod">Modificateur</th>
          <th data-field="actions"></th>
        </tr>
      </thead>
      <tbody class="light-blue lighten-5">
        <tr *ngFor="let line of table; let i = index" class="{{ i % 2 === 1 ? 'blue lighten-4' : '' }}">
          <td [class.text-bold]="(mode === 'points27' && line.score === 15) || (mode === 'points35' && line.score === 17)">
            {{ line.label }}
            <i class="material-icons tooltipped" data-placement="right" data-toggle="tooltip" [attr.title]="tooltips[line.tooltip]">help</i>
            <div class="switch" *ngIf="raceWithBonus && (exceptBonus - 1) !== i">
              <label class="{{ line.bonus ? 'black-text text-bold' : ''}}">
                <input class="other-bonus" type="checkbox" [disabled]="(line.bonus === 0) && (othersBonus <= 0)" (change)="chooseBonus(line)">
                <span class="lever"></span>
                Bonus racial
              </label>
            </div>
          </td>
          <td [class.text-bold]="(mode === 'points27' && line.score === 15) || (mode === 'points35' && line.score === 17)">{{ line.value }}</td>
          <td [class.text-bold]="(mode === 'points27' && line.score === 15) || (mode === 'points35' && line.score === 17)">{{ line.mod }}</td>
          <td>
            <button class="btn-floating waves-effect waves-light btn green" (click)="add(line)" [disabled]="(mode === 'points27' && line.score === 15) || (mode === 'points35' && line.score === 17) || ((mode === 'points27' || mode === 'points35') && (points < cost(line.score, line.score + 1)))"><i class="material-icons left">add</i></button>
            <button class="btn-floating waves-effect waves-light btn red" (click)="remove(line)" [disabled]="(mode === 'points27' && line.score === 8) || mode === 'points35' && line.score === 6"><i class="material-icons left">remove</i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
