
.carac-table thead th {
  border-radius: 0;
}

.dropdown-content li>span {
  color: #03a9f4; /*light-blue*/
}
.select-dropdown li.optgroup>span {
  color: #81d4fa; /*light-blue lighten-3*/
}
.select-dropdown li.disabled>span {
  color: #01579b; /*light-blue darken-4*/
}

.underlined-title {
  border-bottom: 2px solid;
  border-color: #01579b; /*light-blue darken-4*/
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.total-mods {
  margin-top: 15px;
}

.tooltipped {
  cursor: pointer;
}
table.centered thead tr th, table.centered tbody tr td {
  text-align: center;
}
td, th {
  padding: 15px 5px;
  display: table-cell;
  vertical-align: middle;
}

.btn-floating {
  border-radius: 50%;
  width: 37px;
  height: 37px;
  line-height: 37px;
  padding: 0;
}
.btn-floating i {
  width: inherit;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  line-height: 37px;
}
.btn-floating:disabled {
  background-color: #DFDFDF !important;
  box-shadow: none;
  color: #9F9F9F !important;
  cursor: default;
}
.green {
  background-color: #4CAF50 !important;
}
.red {
  background-color: #F44336 !important;
}
select {
  margin-top: 25px;
}


.points {
  font-size: 2.28rem;
}
.custom-select.mode {
  margin-top: 10px;
}
